.container {
	max-width: 120rem;
	margin: 8rem auto;
	background-color: var(--color-grey-light-1);
	box-shadow: var(--shadow-dark);

	min-height: 50rem;
}

.header {
	font-size: 1.4rem;
	height: 7rem;
	background-color: #fff;
	border-bottom: var(--color-grey-light-2);
	/* we define that we want side by side */
	display: flex;
	/* we define the search bar and chat to be center and right */
	/*align in the main-axis(left to right) */
	justify-content: space-between;
	align-items: center; 

}

.content {
	display: flex;
}

.sidebar {
	background-color: var(--color-grey-dark-1);
	/* prwto 0 grow, to deutero shrink, 3o einai to width */
	flex: 0 0 18%;

	/* we put to the sidebar flex to separate the nav-item 
	from the copyrights space-between which means that the send the copyrights to the bottom and the nav-items (ksedoxeia, pthseis etc) 
	sthn allh pleura kai kathos einai colunn style (vertical) tha paei top and down. */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hotel-view {
	background-color: #fff;

	/* Testing */
	background-color: orangered;
	height: 80rem;

	flex: 1;
}